// Wild Project Colors
$wp-green: #289728;
$wp-blue: #33658A;
$wp-dark-green:  darken(#289728, 20%);
$wp-gray-1: #E8E9EA; // light
$wp-gray-2: #efefef;
$wp-gray-3: #808080;
$wp-gray-4: #4c5b61;
$wp-gray-5: #3F4045; // dark

// overrides of foundation theme
$primary-color: $wp-green;
$secondary-color: $wp-gray-3;
$alert-color: #f0f;
$success-color: $wp-blue;
$warning-color: $wp-gray-3;
$info-color: $wp-blue;
$global-radius: 10px;
$dark-gray: $wp-gray-5;
$medium-gray: $wp-gray-3;
$light-gray: $wp-gray-1;

$foundation-palette: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  warning: $warning-color,
  alert: $alert-color
);

$button-palette: $foundation-palette;


$button-background: $primary-color;

$dark-nav-color: $primary-color;
$body-font-color: $wp-gray-5;

// overriding navigation
$topbar-link-color: $wp-gray-1;
$topbar-title-color: $wp-gray-1;
$topbar-link-bg-hover: darken($primary-color, 20%);
$topbar-link-color-hover: $topbar-link-bg-hover;
$topbar-link-bg-color-hover: $topbar-link-bg-hover;
$topbar-link-bg-active-hover:$topbar-link-bg-hover;
$topbar-arrows: true;
